<h2>More info about {{model.name}} category</h2>

<h4>Listings:</h4>
{{#each model.listings as |listing|}}
  {{listing-tile listing=listing}}
{{/each}}

{{new-listing listing=model save2="save3"}}

<!-- {{category-tile category=model}} -->
